<% provide(:danger_class, "class=\"text-center danger\"".html_safe) %>

<% @franchises.each_with_index do |franchise, index| %>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th colspan="7">Franchise <%= franchise.id %></th>
      </tr>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Salary</th>
        <th scope="col">Contract</th>
        <th scope="col" class="text-center">Acquired Cost</th>
        <th scope="col" class="text-center">Holdout Eligible?</th>
        <th scope="col" class="text-center">Dead Cap</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% franchise.players.each do |player| %>
        <%= render partial: "player", locals: { player: player } %>
      <% end %>
    </tbody>
  </table>
<% end %>
