<% provide(:danger_class, "class=\"text-center danger\"".html_safe) %>

<% @franchises.each do |franchise| %>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th colspan="7">Franchise <%= franchise.id %></th>
      </tr>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Salary</th>
        <th scope="col">Contract</th>
        <th scope="col" class="text-center">Acquired Cost</th>
        <th scope="col" class="text-center">Holdout Eligible?</th>
        <th scope="col" class="text-center">Dead Cap</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr colspan="7" class="text-nowrap"><td>Active Roster</td></tr>
      <%= render partial: "player", collection: franchise.active_roster %>
      <tr colspan="7" class="text-nowrap"><td>Taxi Squad</td></tr>
      <%= render partial: "player", collection: franchise.taxi_squad %>
      <tr colspan="7" class="text-nowrap"><td>Franchise Tag Eligible</td></tr>
      <%= render partial: "player", collection: franchise.pending_franchise_tag %>
    </tbody>
  </table>
<% end %>
